In [2]:
%matplotlib inline

import pandas as pd # for using pandas daraframe
import numpy as np # for som math operations
from sklearn.preprocessing import StandardScaler # for standardizing the Data

import matplotlib.pyplot as plt # for plotting

In [3]:
data2 = pd.read_csv('/content/us_state_vaccinations.csv')

In [4]:
data2['date'] = pd.to_datetime(data2['date'])
df2 = data2
start_date = '2022-1-1'
end_date = '2022-10-1'

mask = (df2['date'] >= start_date) & (df2['date'] <= end_date)

df2 = df2.loc[mask]

In [5]:
df2.head()

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
354,2022-01-01,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10742.0,2191.0,NaN,NaN,NaN
355,2022-01-02,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10762.0,2195.0,NaN,NaN,NaN
356,2022-01-03,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10782.0,2199.0,NaN,NaN,NaN
357,2022-01-04,Alabama,5678299.0,8027420.0,2884819.0,47.84,115.81,2345599.0,58.84,163.72,NaN,10478.0,2137.0,0.707,659747.0,13.46
358,2022-01-05,Alabama,5681793.0,8071240.0,2886070.0,47.85,115.88,2346404.0,58.86,164.61,3494.0,10508.0,2143.0,0.704,661457.0,13.49

In [6]:
location = 'Georgia'
mask = (df2['location'] == location)
df2 = df2.loc[mask]

In [7]:
dfn1 = pd.DataFrame()
l=[]

for count, column in enumerate(df2):    
    # Select column contents by column
    # name using [] operator
    if(count==11):
      columnSeriesObj = df2[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn1.insert(count-11, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

In [8]:
dfn1.head()

   daily_vaccinations
0             41583.0
1             44038.0
2             46493.0
3             26690.0
4             27923.0

In [9]:
X1 = dfn1.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std1 = sc.fit_transform(X1) # standardizing the data

**Symptoms**

In [10]:
dfu = pd.read_csv('/content/2022_sub_region_1_daily_2022_US_Georgia_daily_symptoms_dataset.csv', index_col = 0)
dfu['date'] = pd.to_datetime(dfu['date'])

df_first = dfu.head(n=274)

In [ ]:
dfn = pd.DataFrame()
l=[]

for count, column in enumerate(df_first):    
    # Select column contents by column
    # name using [] operator
    if(count>8):
      columnSeriesObj = df_first[column]
      columnSeriesObj[np.isnan(columnSeriesObj)] = 0
      dfn.insert(count-9, column, columnSeriesObj.tolist(), True)
      l.append(columnSeriesObj.tolist())
      #print('Column Name : ', column)
      #print('Column Contents : ', columnSeriesObj.values)

In [12]:
X = dfn.values # getting all values as a matrix of dataframe 
sc = StandardScaler() # creating a StandardScaler object
X_std = sc.fit_transform(X) # standardizing the data

In [13]:
rng: np.random.RandomState = np.random.RandomState(0)
rng.randn(4,1)

array([[1.76405235],
       [0.40015721],
       [0.97873798],
       [2.2408932 ]])

In [14]:
import numpy as np
    
class Bit_map:

    def __init__(self, reduced_size, inp_size, rng: np.random.RandomState = np.random.RandomState(0)):
        self.reduced_size = reduced_size
        self.inp_size = inp_size

        # take random normal vectors for projection

        self.normals = rng.randn(self.reduced_size, inp_size) 
        
    def generate(self, inp_vector):

        # self.normals.T = create delta normal vectors
        # Take dot product of input vector with each of these normal vectors.
        # If vector and normal on same side, then Binary = 1 else 0

        binary = (np.dot(inp_vector, self.normals.T) > 0).astype('int')
        return binary #''.join(bools.astype('str'))
       
ht = Bit_map(reduced_size=40, inp_size=274)

In [15]:
sp2 = ht.generate(X_std1[:,0])
sp2 # CDC Covid data

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1])

In [16]:
score = []
h_l =[]

for i in range(420):
  h_p=[]
  h_p.append(ht.generate(X_std[:,i]))
  h_l.append(h_p)
  
for i in range(420):
    sp1 = h_l[i] # Symptom data
    a =[i for i, j in zip(sp1[0], sp2) if i == j];
    score.append(len(a)) # How many bits are matching!

In [17]:
top_k = sorted(range(len(score)), key=lambda i: score[i], reverse=True)[:15]
top_k

[148, 307, 73, 57, 82, 90, 238, 263, 2, 4, 17, 174, 209, 301, 350]

In [ ]:
[63, 349, 73, 158, 249, 273, 18, 23, 127, 140, 167, 112, 132, 215, 250]

In [18]:
for i,c in enumerate(top_k): #for ele in enumerate(l1):
  print(i,dfn.columns[c],score[c])

0 symptom:Food intolerance 36
1 symptom:Pneumonia 35
2 symptom:Chills 34
3 symptom:Bronchitis 33
4 symptom:Common cold 33
5 symptom:Cough 33
6 symptom:Low-grade fever 33
7 symptom:Nasal congestion 33
8 symptom:Acute bronchitis 32
9 symptom:Ageusia 32
10 symptom:Anosmia 32
11 symptom:Hemoptysis 32
12 symptom:Hypoxemia 32
13 symptom:Phlegm 32
14 symptom:Sinusitis 32

**Study the lead time:**

In [19]:
%matplotlib inline

import pandas as pd # for using pandas daraframe
import numpy as np # for som math operations
from sklearn.preprocessing import StandardScaler # for standardizing the Data

import matplotlib.pyplot as plt # for plotting
from scipy import stats

In [25]:
corr_t =[]
valuesi = []
sim = [17, 2, 4, 57, 73, 82, 90, 111, 139, 174, 209, 238, 263, 307, 314] # Coluns from top correlated data.
zp = []


for j in sim:

  a = X_std1[:,0]
  b = X_std[:,j]

  colin = [] 
  z = 274
  for t in range(z): # vary t' from 1 to 274

    if(t>1) and (t<z+1):
      symp_a = b[:(z+1-(t))]
      ili_a  = a[t-1:z+1]
      res = stats.pearsonr(ili_a, np.nan_to_num(symp_a))
      colin.append(res) # Append all possible correlation for varying t
    
  arr1 = np.array(colin)
  zil = arr1.argmax(axis=0)
  zp.append(zil[0])
  
  corr_t.append(colin)

In [26]:
corr_t =[]
valuesi = []
sim = [17, 2, 4, 57, 73, 82, 90, 111, 139, 174, 209, 238, 263, 307, 314] # Coluns from top correlated data.
zp = []


for j in sim:

  a = X_std1[:,0]
  b = X_std[:,j]

  colin = [] 
  z = 274
  for t in range(z): # vary t' from 1 to 34

    if(t>1) and (t<z+1):
      symp_a = b[:(z+1-(t))]
      ili_a  = a[t-1:z+1]
      res = stats.pearsonr(ili_a, np.nan_to_num(symp_a))
      colin.append(res) # Append all possible correlation for varying t
    
  arr1 = np.array(colin)
  zil = arr1.argmax(axis=0)
  zp.append(zil[0])
  
  corr_t.append(colin)

In [ ]:
corr_t

In [27]:
for count,k in enumerate(zp):
  print(count,k)

0 269
1 269
2 269
3 269
4 269
5 269
6 269
7 269
8 269
9 269
10 269
11 269
12 269
13 269
14 269